# <center> Python basics</center>

## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [ ]:
# declare two variables, a = 5, b = 'city'
a = 5
b = "city"

In [ ]:
# print type of a
print(type(a))

<class 'int'>

In [ ]:
# print type of b

print(type(b))

<class 'str'>

In [ ]:
# swap the values of a and b

x = a
a = b
b = x

In [ ]:
# run this to confirm 
print('a = ' + str(a) + ' , b = ' + str(b))

a = city , b = 5

## Arithmetic Operations

Simple mathematical operations and using math module to apply mathematical functions

- Mathematical operations

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [17]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

## Math Functions

Math module contains various mathematical functions. 

Reference:- https://youtu.be/gktjNyV0xks

<p style='text-align: right;'> 1 + 4 = 5 points </p>

In [4]:
import math
# declare a variable a = 2
a =  2
print('a = ',a)

a =  2

In [5]:
# declare a variable x = 2 and y=5.32167

x=2
y=5.32167

In [ ]:
# Print the maximum value between x and y
print(min(x,y))

2

In [6]:
# Round value of y upto 2 decimal places

round(y,2)

5.32

In [7]:
# Print square and cube of x and store in a and b variable
a = x**2
b = x**3

In [8]:
print(a)
print(b)

4
8

In [10]:
#print log of x and store it in variable c

c = math.log(x,10)

In [12]:
#print minimum value between x,y,a, b and c
print(min(x,y,a,b,c))

0.30102999566398114

In [13]:
#print the largest integer not greater than c.
math.floor(c)

0

In [14]:
#print the smallest integer not less than c.
math.ceil(c)

1

In [ ]:
# calculate and print all the possible numeriacl operations on a and b (There are total 7 operations)

print("a + b = ", a+b)
print("a - b = ", a-b)
print("a * b = ", a*b)
print("a / b = ", a/b)
print("a % b = ", a%b)
print("a // b = ", a//b)
print("a ^ b = ", a**b)

a + b =  12
a - b =  -4
a * b =  32
a / b =  0.5
a % b =  4
a // b =  0
a ^ b =  65536

## Logical opeations

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [ ]:
# declare two variables, a = True, b = False

a = True
b = False

print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b

print("type of a is ", type(a))
print("type of b is ", type(b))

type of a is  <class 'bool'>
type of b is  <class 'bool'>

In [ ]:
# print int(a) and int(b)
print("int of a is ", int(a))
print("int of b is ", int(b))

int of a is  1
int of b is  0

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b

print("not a = ", not(a))
print("not b = ",not(b))
print("a and b = ", a & b)
print("a or b = ", a or b)
print("a and not b = ", a & (not b))

not a =  False
not b =  True
a and b =  False
a or b =  True
a and not b =  True

## List Comprehensions

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20.

l1 = [x for x in range(1,21)]

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

l2 =  [ x for x in range(1,21) if x%2 == 0]

print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the length of fruits corresponding fruits
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits = ['apple','kiwi','orange']
len_fruits = [len(x) for x in fruits]

print(fruits)
print(len_fruits)

['apple', 'kiwi', 'orange']
[5, 4, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings

Reference:-  https://youtu.be/LnQDWIMaJlA

In [ ]:
# declare the variables x and y

x =  'cat'
y = 'dog'

In [ ]:
#Print both the strings
print(x)
print(y)

cat
dog

In [ ]:
#Print first character of both x and y. 
print("First ch of x = ", x[0])
print("First ch of y = ",y[0])

First ch of x =  c
First ch of y =  d

In [ ]:
#Print last character of both x and y.
print("Last ch of x = ",x[-1])
print("Last ch of y = ",y[-1])

Last ch of x =  t
Last ch of y =  g

In [ ]:
#Print len of both x and y
print("Length of x is ",len(x))
print("Length of y is ",len(y))

Length of x is  3
Length of y is  3

In [ ]:
#concatenate both x and y and store it in variable z and print z
z = x+y
print(z)

catdog

In [ ]:
#check if x is part of z 
print( x in z)

True

### String slicing

<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create variable a = “pineapple”
a = "pineapple"

print(a)

pineapple

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]

print(a[:4])
print(a[4:])

pine
apple

In [ ]:
#Convert a into upper case
a.upper()

'PINEAPPLE'

## Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [ ]:
# Declare a sentence of ‘I am flying to London’
sent = 'I am flying to London'

print(sent)

I am flying to London

In [ ]:
#Print len of the sentence

print("Len of sentence is ", len(sent))

Len of sentence is  21

In [ ]:
#Using list comprehension, print the word London
q = sent[15:21]
print(q)

London

In [ ]:
# Use .split to get list of individual words in the sentence

sent.split( )

['I', 'am', 'flying', 'to', 'London']

In [ ]:
# Convert sentence in lower case 
sent.lower()

'i am flying to london'

In [ ]:
# Convert sentence in upper case .

sent.upper()

'I AM FLYING TO LONDON'

## Functions

### Declare a function which  takes input as x, and returns the square of x. 
Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
def square(x):
    y = x**2
    
    return y

Call the function to find the value of square of 9.

In [ ]:
# find the value of square of 9 using the function square
print( " Square of 9 is ",square(9))

 Square of 9 is  81

### Define another function which checks whether a given number if odd or even, for a given input, it should print whether the given number is odd or even.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
# your code here
def check_odd_even(x):
    if x%2 == 0:
      print(x,"is even")
    else:
      print(x,"is odd")

Using both the functions to check whether the square of 3,6,21 is odd or even.

In [ ]:
 # your code here
check_odd_even(3)
check_odd_even(6)
check_odd_even(21)

3 is odd
6 is even
21 is odd

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [ ]:
#Declare a variable x equal to a number of your choice.
#your code here
x = 4
print(x)

4

In [ ]:
#Using an if statement, print whether the number is 0, positive or negative.
if (4 > 0):
  print("4 is positive")
elif (4< 0):
  print("4 is negative")
else:
  print(0)

4 is positive

In [ ]:
# Define a function, which takes input from the user and prints whether the given input is 0,positive or negative.

def check_num(x):
    if (x > 0):
      return(x, 'is positive')
    elif (x < 0 ):
      return(x, 'is negative')
    else:
      return(0);


print(check_num(10))
print(check_num(-2))
print(check_num(0))

(10, 'is positive')
(-2, 'is negative')
0

## For loop

<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.

x = ["India","Israel","Canada"]
print(x)

['India', 'Israel', 'Canada']

In [ ]:
#Using For loop, iterate over the list and print the elements.
for x in x:
  print(x)

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Using For loop, print the table of 2.
num = 2
for i in range(1,11):
  print(num, "*" ,i," = ", num*i)

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [ ]:
#code here
x = [21, "hello","cream", 20,19,"village"]

for x in x:
  if type(x)!=int:
    continue
  print(x)

21
20
19

Using For loop, create the following pattern.

<p style='text-align: right;'> 10 points </p>

In [ ]:
# print the following pattern

*
* *
* * *
* * * *
* * * * *

In [2]:
#your code here

def pattern(n):
     
    for i in range(0, n):
      for j in range(0, i+1):
         
            print("* ",end="")
      
      print("\r")
 
# Driver Code
n = 5
pattern(n)

*
* *
* * *
* * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [3]:
def counter(n):
  i=1
  while(i < n+1):
    print(i)
    i = i+1

In [4]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9
10

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [16]:
# your code here
flag = True
num = 5

while (flag == True):
  print(num)
  num = num+5
  if num>50:
    flag = False

5
10
15
20
25
30
35
40
45
50

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform