# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a = []

In [ ]:
# print the value of a

a

[]

In [ ]:
# print the type of a

type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [ ]:
#code here
languages = ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [ ]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [ ]:
#code here
for x in languages:
  print(x)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [ ]:
languages[3:5]

['Scala', 42]

Append the element 'Java' in the list

In [ ]:
languages.append("Java")

In [ ]:
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [ ]:
languages.remove(42)

In [ ]:
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [ ]:
#code here
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1,'Orange')

Print the list

In [ ]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)
colors

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [ ]:
# code here
print("length of list colors is",len(colors))
print(colors)

length of list colors is 7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [ ]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [ ]:
sent =  "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
list_sent = sent.split(sep = " ")
list_sent

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
list_lower = [x.lower() for x in list_sent]
list_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [ ]:
str = 'country'
str in list_sent

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
list_sent.remove("The")
print(list_sent)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
x4 = list_sent[0:4]

In [ ]:
# print x4
print(x4)

['Coronavirus', 'Caused', 'Lockdowns', 'Around']

Convert the list of elements to single string using join function and print it

In [ ]:
string_lower = " ".join(list_lower)

In [ ]:
string_lower

'coronavirus caused lockdowns around the world.'

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
#code here
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
#code here
print(type(stud_grades), stud_grades)
print(type(stud_grades_set), stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'B', 'A', 'C', 'F'}

Add a new element ‘G’ to stud_grades_set

In [ ]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [ ]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'G', 'B', 'C', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:
#code here
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [ ]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'A', 'G', 'B', 'C'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [ ]:
#code here
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [ ]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
#code here
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'orange', 'blue', 'red'}
{'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [ ]:
#code here
fruits_union = colors_set.union(fruits_set)
print(fruits_union)

{'grapes', 'apples', 'red', 'orange', 'blue'}

Find the intersection of both the sets

In [ ]:
#code here
fruits_intersection = colors_set.intersection(fruits_set)
fruits_intersection

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:
#code here
fruits_difference = set.difference(fruits_set, colors_set)
fruits_difference

{'apples', 'grapes'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [ ]:
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
#code here
temp[0] = 11

Set temp1 = tuple(temp)

In [ ]:
#code here
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
#code here
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
#code here
temp1[0] = 17
temp1

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [39]:
#code here
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [40]:
#code here
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [41]:
#code here
city2 = ('Chennai',30.01,74)

Create cities which consist of city and city2

In [49]:
#code here
cities = (city,city2)

Print cities

In [51]:
#code here
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [53]:
#code here
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [54]:
#code here
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [79]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [56]:
#code here
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [57]:
#code here
actor = d["actor"]

Print the type of actor

In [58]:
#code here
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [59]:
#code here
l = d["list"]

Print the type of l.

In [60]:
#code here
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [81]:
#code here
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [82]:
#code here
def Merge(x1, x2):
  return (x1.update(x2))

Merge(d,d1)

print d

In [83]:
#code here

print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [66]:
#code here
dict_keys = d.keys()
print(dict_keys)

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [67]:
#code here
dict_values = d.values()
dict_values

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [ ]:
d

In [86]:
#code here
for x in d.keys():
  print(x,"----->",d[x])

actor -----> amir
animal -----> cat
earth -----> 2
list -----> [23, 32, 12]
singer -----> Kr$na
album -----> Still here
genre -----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [91]:
sent = sent.lower()

In [93]:
#code here
all_freq = {}
  
for i in sent:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1

print(all_freq)

{'c': 3, 'o': 6, 'r': 4, 'n': 3, 'a': 3, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'l': 2, 'k': 1, 'w': 2, 't': 1, 'h': 1, '.': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform